{% load static %}
<!Doctype html>
<html>
<head>
  <title> University of Toronto REDCap Signup </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body { text-align: center; padding: 0px; margin: 0px; }
    h1 { font-size: 50px; margin: 0px}
    body { font-size: 20px; font-family: "Open Sans", Helvetica, sans-serif; color: #333; margin: 0; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
  </style>
</head>
<body>
<div class="menu-bar">
<ul>
<li class="active"><a href="#">Home</a><i class="fa fa-home"></i><li>
<li><a href="#">Faculties</a>
    <div class="sub-menu-1">
        <ul>
            <li><a href="applied_science_engineering_edit.html">Applied Science and Engineering</a></li>
            <li><a href="electrical_computer_eng.html">Department of Computer & Electrical Engineering</a></li>
            <li><a href="mec_eng.html">Department of Mechanical Engineering</a></li>
            <li><a href="architecture.html">Architeture</a></li>
            <li><a href="dlsph.html">Dalla Lana School of Public Health</a></li>
            <li><a href="dentistry.html">Dentistry</a></li>
            <li><a href="i_school.html">I-School</a></li>
            <li><a href="law.html">Law</a></li>
            <li><a href="music.html">Music</a></li>
            <li><a href="nursing.html">Nursing</a></li>
            <li><a href="oise.html">OISE</a></li>
            <li><a href="pharmacy.html">Pharmacy</a></li>
            <li><a href="law.html">Law</a></li>
            <li><a href="rotman.html">Rotman</a></li>
            <li><a href="social_work.html">Social Work</a></li>
            <li><a href="utm.html">University of Toronto Mississauga</a></li>
            <li><a href="utsc.html">Universitty of Toronto Scarbororugh</a></li>




        </ul>
</li>
<li><a href="#">Faculty of Arts and Science</a>
    <div class="sub-menu-1">
      <ul>
        <li><a href="anthropology.html">Anthropology</a></li>
        <li><a href="astronomy_astrophysics.html">Astronomy & Astrophysics</a></li>
        <li><a href="cells_and_systems_biology.html">Cells & Systems biology</a></li>
        <li><a href="chemistry.html">Chemistry</a></li>
        <li><a href="classics.html">Classics</a></li>
        <li><a href="computer_science.html">Computer Science</a></li>
        <li><a href="earth_sciences.html">Earth Sciences</a></li>
        <li><a href="east_asian_studies.html">East Asian Studies</a></li>
        <li><a href="ecology_and_evolutionary_biology.html">Ecology & Evolutionary Biology</a></li>
        <li><a href="economics.html">Economics</a></li>
        <li><a href="english.html">English</a></li>
        <li><a href="french.html">French</a></li>
        <li><a href="geography_and_planning.html">Geography & Planning</a></li>
        <li><a href="germanic_language_and_literature.html">Germanic Language & Literature</a></li>
        <li><a href="history.html">History</a></li>
        <li><a href="italian_studies.html">Italian Studies</a></li>
        <li><a href="linguistics.html">Linguistics</a></li>
        <li><a href="mathematics.html">Mathematics</a></li>
        <li><a href="nmec.html">Near & Middle Eastern Civilizations</a></li>
        <li><a href="philosophy.html">Philosophy</a></li>
        <li><a href="physics.html">Physics</a></li>
        <li><a href="political_science.html">Political Science</a></li>
        <li><a href="psychology.html">Psychology</a></li>
        <li><a href="religion.html">Religion</a></li>
        <li><a href="slavic_languages_and_literatures.html">Slavic Languages & Literatures</a></li>
        <li><a href="sociology.html">Sociology</a></li>
        <li><a href="spanish_and_portuguese.html">Spanish & Portuguese</a></li>
        <li><a href="statistical_sciences.html">Statistical Sciences</a></li>
        <li><a href="religion.html">Religion</a></li>
        <li><a href="centre_for_jewish_studies.html">Centre for Jewish Studies</a></li>
        <li><a href="archaeology_centre.html">Archaeology Centre</a></li>
        <li><a href="asian_institute.html">Asian Institute</a></li>
        <li><a href="canadian_institute_for_theoretical_astrophysics.html">Canadian Institute for Theoretical Astrophysics</a></li>
        <li><a href="canadian_statistical_sciences_institute_ontario_regional_centre.html">Canadian Statistical Sciences Institute Ontario Regional Data Centre</a></li>
        <li><a href="d_francophone.html">D'Etudede la Frances et du Monde Francophone</a></li>
        <li><a href="centre_for_comparative_literature.html">Centre for Comparative Literature</a></li>
        <li><a href="centre_for_criminology_and_sociolegal_studies.html">Centre for Criminology & Sociolegal Studies</a></li>
        <li><a href="centre_for_diaspora_and_transnational_studies.html">Centre for Diaspora & Transnational Studies</a></li>
        <li><a href="centre_for_drama_theatre_performances_studies.html">Centre for Drama & Theatre Performances Studies</a></li>
        <li><a href="centre_for_entrepreurship.html">Centre for Entrepreneurship</a></li>
        <li><a href="centre_for_ethics.html">Centre for Ethics</a></li>
        <li><a href="centre_for_european_russion_eurasian_studies.html">Centre for European, Russian & Eurasian Studies</a></li>
        <li><a href="centre_for_global_change_science.html">Centre for Global Change Science</a></li>
        <li><a href="centre_for_global_social_policy.html">Centre for Global Social Policy</a></li>
        <li><a href="centre_for_indigenous_studies.html">Centre for Indigenous Studies</a></li>
        <li><a href="centre_for_industrial_relations_and_human_resources.html">Centre for Industrial Relations & Human Resources</a></li>
        <li><a href="centre_for_medieval_studies.html">Centre for Medieval Studies</a></li>
        <li><a href="centre_for_quantum_information_and_quantum_control.html">Centre for Quantum Information & Quantum Control</a></li>
        <li><a href="centre_for_quantum_materials.html">Centre for Quantum Materials</a></li>
        <li><a href="centre_for_research_in_early_english_drama.html">Centre for Research in Early English Drama</a></li>
        <li><a href="centre_for_south_asian_studies.html">Centre for South Asian Studies</a></li>
        <li><a href="centre_for_the_study_of_global_japan.html">Centre for the Study of Global Japan</a></li>
        <li><a href="centre_for_the_study_of_korea.html">Centre for the Study of Korea</a></li>
        <li><a href="centre_for_the_study_of_the_united_states.html">Centre for the Study of the United States</a></li>
        <li><a href="cinema_studies.html">Cinema Studies</a></li>
        <li><a href="india_innovation_institute.html">India Innovation Institute</a></li>
        <li><a href="institute_for_the_history_and_philosophy_of_science_and_technology.html">Institute for the History & Philosophy of Science & Technology</a></li>
        <li><a href="institute_of_islamic_studies.html">Institute of Islamic Studies</a></li>
        <li><a href="jackman_humanities_building.html">Jackman Humanities</a></li>
        <li><a href="koffler_scientific_reserve.html">Koffler Scientific Reserve</a></li>
        <li><a href="munk_school_of_global_affairs_and_publicpolicy.html">Munk School of Global Affairs & Public Policy</a></li>
        <li><a href="centre_for_buddhist_studies.html">Centre for Buddhist Studies</a></li>
        <li><a href="school_of_cities.html">School of Cities</a></li>
        <li><a href="school_of_environment.html">School of Environment</a></li>
        <li><a href="statistisc_canada_research_data_centre.html">Statistics Cananda Research Data Centre</a></li>
        <li><a href="trudeau_centre_for_peaceconflictjustice.html">Trudeau Centre for Peace & Conflict Studies</a></li>
        <li><a href="women_and_gender_studies_institute.html">Women & Gender Studies Institute</a></li>
        <li><a href="urban_studies.html">Urban Studies</a></li>
        <li><a href="writing_and_rhetoric.html">Writing & Rhetoric</a></li>
        <li><a href="african_studies.html">African Studies</a></li>
        <li><a href="buddhism_psychology_mental_health.html">Buddhism, Psychology & Mental Health</a></li>
        <li><a href="caribbean_studies.html">Caribbean Studies</a></li>
        <li><a href="equity_studies.html">Equity Studies</a></li>
        <li><a href="book_and_media_studies`.html">Book & Media Studies</a></li>
        <li><a href="celtic_studies.html">Celtic Studies</a></li>
        <li><a href="christianity_culture.html">Christianity & Culture</a></li>
        <li><a href="medieval_studies.html">Medieval Studies</a></li>
        <li><a href="ethics_society_law.html">Ethics, Society & Law</a></li>
        <li><a href="international_relations.html">International Relations</a></li>
        <li><a href="canadian_studies.html">Canadian Studies</a></li>
        <li><a href="cognitive_science.html">Cognitive Science</a></li>
        <li><a href="health_studies.html">Health Studies</a></li>
        <li><a href="creative_expression_society.html">Creative Expression Society</a></li>
        <li><a href="education_society.html">Education Society</a></li>
        <li><a href="literature_critical_theory.html">Literature Critical Theory</a></li>
        <li><a href="material_culture.html">Material Culture</a></li>
        <li><a href="renaissance_studies.html">Renaissance Studies</a></li>
        <li><a href="science_and_society.html">Science & Society</a></li>
        <li><a href="semiotics_and_communication_studies.html">Semiotics & Communication Stdies</a></li>
        <li><a href="digitial_humanities.html">Digital Humanities</a></li>
        <li><a href="centre_for_entrepreurship.html">Centre for Entrepreneurship</a></li>






      </ul>
</li>
<li><a href="#">Faculty of Medicine</a>
    <div class="sub-menu-1">
      <ul>
        <li><a href="obstetrics_and_gynecology.html">Obstetrics & Gynecology</a></li>
        <li><a href="family_community_medicine.html">Family & Community Medicine</a></li>
        <li><a href="anesthesiology_pain_and_medicine.html">Anesthesiology Pain & Medicine</a></li>
        <li><a href="biochemistry.html">Biochemistry</a></li>
        <li><a href="hpme.html">Institute of Health Policy Management & Evaluation</a></li>
        <li><a href="biomedical_engineering.html">Biomedical Engineering</a></li>
        <li><a href="immunology.html">Immunology</a></li>
        <li><a href="laboratory_medicine_and_pathobiology.html">Laboratory Medicine & Pathobiology</a></li>
        <li><a href="medical_biophysics.html">Medical Medical_Biophysics</a></li>
        <li><a href="medical_imaging.html">Medical Imaging</a></li>
        <li><a href="institute_of_medical_science.html">Institute of Medical Science</a></li>
        <li><a href="molecular_genetics.html">Molecular_Genetics</a></li>
        <li><a href="nutritional_sciences.html">Nutritional Sciences</a></li>
        <li><a href="occupational_science_and_occupational_therapy.html">Occupational Science & Occupational Therapy</a></li>
        <li><a href="opthamalogy_and_vision_sciences.html">Opthamology & Vision Sciences</a></li>
        <li><a href="otolarynology_head_and_neck_surgery.html">Otolarynology Head & Neck Surgery</a></li>
        <li><a href="pediatrics.html">Pediatrics</a></li>
        <li><a href="pharmacology_and_toxicology.html">Pharmacology & Toxicology</a></li>
        <li><a href="physical_therapy.html">Physical Therapy</a></li>
        <li><a href="physiology.html">Physiology</a></li>
        <li><a href="psychiatry.html">Psychiatry</a></li>
        <li><a href="radiation_oncology.html">Radiation Oncology</a></li>
        <li><a href="rehabilitation.html">Rehabilitation</a></li>
        <li><a href="speech_language_pathology.html">Speech Language Pathology</a></li>
        <li><a href="surgery.html">Surgery</a></li>
      </ul>
</li>
<li><a href="#">Non-Academic Departments</a>
    <div class="sub-menu-1">
      <ul>
        <li><a href="convocation_office.html">Convocation Office</a></li>
        <li><a href="data_governance_group.html.html">Data Governance Group</a></li>
        <li><a href="hart_house.html">Hart House</a></li>
        <li><a href="health_wellness.html">Health & Wellness</a></li>
        <li><a href="research_oversight_compliance.html">OVPRI</a></li>
        <li><a href="utsc_library.html">Universitty of Toronto Scarbororugh Library</a></li>
        <li><a href="medicine_admin.html">Medicine Administrative Use</a></li>
      </ul>
</li>
</ul>
</div>
</body>



  <article>
    <div style="padding-top: 200px">
      <img src ="{% static 'media/redcap-logo-medium.png' %}" alt="REDCap Logo">
    </div>
      <h1>Welcome to the University of Toronto&rsquo;s REDCap Signup Portal</h1>
      <div style="padding-top: 95px">
        <p>Use the Navigation bar to locate your Faculty or Department</p>
      </div>
      <div style="padding-top: 120px">
        <img src="{% static 'media/logo-uft-act-blue.png' %}" width="260px" alt="Academic and Collaborative Technology Logo" style="padding: 20px;">
      </div>
  </article>
</html>
